<header class="py-1 px-2 bg-background">
  <nav class="flex justify-between py-3 mr-4 text-black/65">
    <a href="index.html">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/2/26/Escudo_San_Lorenzo_del_Escorial.svg"
        width="64"
        alt="Escudo de San Lorenzo de El Escorial"
      />
    </a>

    <ul class="hidden sm:flex sm:gap-8 sm:my-auto">
      <li>
        <a href="./index.html">Inicio</a>
      </li>
      <li>
        <a href="./participantes.html">Participantes</a>
      </li>
      <li>
        <a href="./inscripcion.html">Inscripción</a>
      </li>
      <li>
        <a href="./plantilla-ia.html">Plantilla IA</a>
      </li>
    </ul>

    <div class="sm:hidden my-auto">
      <div class="w-[35px] h-[4px] bg-black my-[6px]"></div>
      <div class="w-[35px] h-[4px] bg-black my-[6px]"></div>
      <div class="w-[35px] h-[4px] bg-black my-[6px]"></div>
    </div>
  </nav>
</header>
