/**
 * Import any npm dependencies in this file
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";
@use "variables";

@import "tailwindcss/index.css";
@import "@fortawesome/fontawesome-free/css/all.css";
